name: CI

on:
  push:
    branches: [ main ]
    paths-ignore:
      - Examples/**
  pull_request:
    branches: [ main ]
    paths-ignore:
      - Examples/**

env:
  DEVELOPER_DIR: /Applications/Xcode_13.0.app

jobs:
  build:
    runs-on: macOS-11
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: swift build -v

  test:
    runs-on: macOS-11
    steps:
    - uses: actions/checkout@v2
    - name: Test
      run: swift test -v

